spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/challenge_db
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080